*{
	margin:0;
	padding: 0;
}

body{
	font-family: serif;
	/*background-image: url(../img/Walpaper.jpg);*/
	/*background-size: cover;*/
	min-height: 100vh;
	overflow-x: hidden;
}

.container{
	position: relative;
	box-sizing: border-box;
	width:100%;
	height:100vh;
	/*border:1px solid black;*/
}

nav{
	display: flex;
	height:80px;
	align-items: center;
	box-sizing: border-box;
	margin:auto;
	z-index: 9999;
	position: absolute;
}

nav .menu-toggle{
	display: flex;
	height:30px;
	/*border:1px solid black;*/
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	left:40px;
}

nav .menu-toggle span{
	background: black;
	border-radius:6px;
	width: 35px;
	height:6px;
}

.conten{
	display: flex;
	justify-content: center;
	align-items: center;
	/*border:1px solid black;*/
	height:100vh;
}

h2{
	font-size: 50px;
}

.conten .isi{
	text-align: center;
	align-items: center;
	width:50%;
	height:50%px;
	margin:auto;
	/*border:1px solid black;*/
	display: flex;	
	flex-direction: column;
}

.conten .isi span{
	margin:auto;

}

.isi button{
	height:35px;
	width:80px;
	border-radius: 17px;
	margin-top: 20px;
	background: none;
}

.conten .isi button a{
	text-decoration: none;
	color: black;
}




/* file main.php */

.container .back{
	/*background-color: lightgreen;*/
	height: 80px;
	box-sizing: border-box;
	/*border:1px solid black;*/
	display: flex;
}

.container .back a{
	text-decoration: none;
	color:#000000;
	margin-left: 15px;
	font-size: 35px;
	font-weight: bold;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 12%;
	padding-left: 10px;
	justify-content: space-around;
	/*border:1px solid black;*/
}

.container .back a span:first-child{
	font-size: 45px;
	font-family: "Courier New";
}

.container .side{
	width:100%;
	display: flex;
	/*border:1px solid black;*/
	margin:40px auto;
	justify-content: space-around;
}

.container .side .isi{
	width:75%;
	/*border:1px solid black;*/
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}
.container .side .sidebar{
	width:20%;
	height:100%;
	box-sizing: border-box;
	/*border:2px solid black;*/
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow:inset 0 0 2px 1px black;
}


.side .isi .card {
	margin:0 10px 20px;
	width: 120px;
	height: 120px;
	border:1px solid black;
	border-radius: 50%;
	overflow: hidden;
}

.side .isi .card .header{
	height: 60%;
	width: 120px;
	background-color: #ddd;
}

.side .sidebar form{
	display: flex;
	flex-direction: column;
	text-align: center;
	box-sizing: border-box;
	padding:20px;
}

.side .sidebar form input[type='text']{
	padding:10px;
	border:none;
	box-shadow:inset 0 0 2px black;
	border-radius: 5px;
	margin-bottom: 10px;
}

.side .sidebar form button{
	background: none;
	margin-bottom: 20px;
	font-size:15px;
	border:none;
	text-align: left;
}
.container .side .sidebar .tombol {
	display: flex;

}

.container .side .sidebar .tombol button{
	margin-left: 10px;
	background: none;
	border:none;
	font-size: 15px;
	width:50%;
	/*border:1px solid black;*/
	margin-left: 10px;
	margin-bottom: 10px;
}




@media screen and (max-width: 574px) {
	.container .side{
		flex-direction: column;
	}
	.container .side .sidebar{
		width:100%;
	}

	.container .side .isi{
		width:100%;
	}
	.container .back{
		height: 40px;
		width:800px;
	}


	.container .back a{
		font-size: 20px;
	}

	.container .back a span:first-child{
		font-size: 27px;
	}

}
